python-telegram-bot==20.0
python-dotenv==1.0.0
gunicorn==21.2.0
waitress==2.1.2
flask==2.3.3
Pillow>=9.0.0
setuptools>=65.5.1
requests==2.31.0
Werkzeug>=2.3.0
pymongo==4.5.0
dnspython==2.4.2
psutil==5.9.5
